
.login_center {
	border: 3px solid blue;
	margin: auto;
	text-align: center;
	padding: 10px;
}

.lgoin_align {
	display: inline-block;
}

.login_float {
	float: left;
}

.lgin_inline {
	display: inline;
	margin: auto;
}