@charset "UTF-8";

h2 {
	margin-left: 30px;
}

.join_center {
	width: 100%;
	text-align: center;
}

.join_form {
	margin: 30px;
	border-top: 2px solid black;
	width: 300px;
	height: 160px;
	float: left;
	background: #f2ebeb;
	display: inline-block;
}

.join_button {
	width: 100px;
	height: 30px;
}

.join_ready_button {
	
}

.join_ready_button button{
	width: 100px;
	height: 25px;
}
