<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.auction.project.DTO.TestDTO" alias="tDTO"></typeAlias>
		<typeAlias type="com.auction.project.DTO.SignUpInsertDTO" alias="signUpInsertDTO"></typeAlias>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/testMapper.xml" />
		<mapper resource="mapper/signUpMapper.xml" />
	</mappers>
</configuration>
